<!-- CARDS START -->
<div id="sidebar-card" class="ui special cards">
  <div class="ui card">
    <div class="image blurring dimmable">
    <div class="ui dimmer">
      <div class="content">
        <div class="center"">
          <div class="check-detail ui inverted button"><a href="#">Check Details</a></div> 
        </div>
      </div>
    </div>
      <img src="/images/img1/<%=newOrder["Unique_No"]%>.jpg">
    </div>
    <div class="content">
    <!-- Retail_Class_Desc and Sub Class -->
    <a class="header"><%=newOrder.Retail_Class_Desc%> | <%= newOrder.Retail_SubClass_Desc %></a>
    <div class="meta">
      <span class="date">ID: <%= newOrder.Unique_No %></span>
    </div>
      <!-- Main_Fabric_Desc -->
    <div class="divider ui"></div>
    <div class="extra content">
      <div class="ui small header">Fabric Description</div>
      <p><%= newOrder.Main_Fabric_Desc  %></p>
    </div>
      
    </div>
    <!-- StyleDescription -->
    <div class="extra content">
      <div class="ui small header">Style Description</div>
      <p> <%= newOrder.StyleDescription %></p>
    </div>
    <!-- TypeProduct_Desc -->
    <div class="extra content">
      <div class="ui small header">Product Type</div>
      <p><%= newOrder.TypeProduct_Desc %></p>
    </div>
    <!-- Gender -->
    <div class="extra content">
      <a>
        <i class="other gender icon"></i>
        <%= newOrder.Gender_Desc %>
      </a>
    </div>
    <!-- Season -->
    <div class="extra content">
      <a>
        <i class="calendar outline icon"></i>
        <%= newOrder.Year %>
      </a>
    </div>
    <!-- ORIGINAL WASH -->
    <div class="extra content">
      <a>
        <i class="theme icon"></i>
       <%= newOrder.Wash %>
      </a>
    </div>
  </div>
</div>
<!-- CARDS ENDS -->